* {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

#heading {
    font-size: 4em;
    color: #A66D3B;
}

.jumbotron {
    background-color: #FCF8E3;
}

label {
    width: 100%;
    font-size: 1.25em;
}

p {
    margin: 20px 0;
    font-size: 2em;
}

.fixedChar {
    position: relative;
    left: 20px.
}

#map {
    width: 100%
}

.holder {
background-color: red;
}
